[Unit]
Description=SigNoz Observability Platform
Requires=docker.service
After=docker.service
StartLimitInterval=0

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ docker_compose_path }}
ExecStart=/bin/bash -c "sg docker -c 'docker compose up -d --remove-orphans'"
ExecStop=/bin/bash -c "sg docker -c 'docker compose down'"
ExecReload=/bin/bash -c "sg docker -c 'docker compose restart'"
TimeoutStartSec=300
TimeoutStopSec=120
User={{ signoz_user }}
Group=docker
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target